.*
/playground
node_modules
!.prettierrc.yml
!.gitignore
!.github
!.gitattributes
!.npmignore
!.husky
lerna-debug.log
yarn.lock
yarn-error.log
package-lock.json
/packages/*/test.coffee
!/packages/*/test.coffee.sample
