.*
/playground
/node_modules
/packages/*/node_modules
!.eslintrc
!.travis.yml
!.gitignore
!.gitattributes
!.npmignore
yarn.lock
yarn-error.log
package-lock.json
/packages/*/test.coffee
!/packages/*/test.coffee.sample
