
module.exports = 
  ldap: false
  ssh:
    host: '127.0.0.1'
    username: process.env.USER
    # no password, will use private key
    # if found in "~/.ssh/id_rsa"
  # Uncomment following lines if you wish
  # to test the service function with yum
  # yum_over_ssh:
  #   host: '172.16.134.11'
  #   username: 'root'
  #   password: 'passepartout'