
module.exports = 
  ssh:
    host: '127.0.0.1'
    username: process.env.USER
    # no password, will use private key
    # if found in "~/.ssh/id_rsa"
  yum_over_ssh:
    host: '172.16.134.11'
    username: 'root'
    password: 'passepartout'